<div class="container-fluid p-4">
  <div class="row">
    <div
      class="
        col-lg col-12
        text-white
        d-flex
        align-items-center
        justify-content-lg-start justify-content-center
      "
    >
      <a class="btn nav-text" target="_blank">{{ nombreCompania }}</a>
    </div>
    <div
      class="
        col-lg col-12
        d-flex
        align-middle
        justify-content-lg-end justify-content-center
      "
    >
      <div class="w-img">
        <img src="../../../assets/img/logo.png" class="img-fluid" />
      </div>
    </div>
  </div>
</div>
