<div class="border shadow-lg h-100">
  <div class="m-5">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr class="table-primary text-center align-middle">
            <th *ngFor="let titulo of headerTable" scope="col">
              {{ titulo }}
            </th>
          </tr>
        </thead>
        <tbody class="text-tbody">
          <tr *ngFor="let alquiler of alquilerMaquinaria">
            <th>{{ alquiler.cliente }}</th>
            <th>{{ alquiler.maquinaria }}</th>
            <th>{{ alquiler.fechaEntrega }}</th>
            <th>{{ alquiler.fechaDevolucion }}</th>
            <th>{{ alquiler.tarifa }}$</th>
            <th>{{ alquiler.dias }} días</th>
            <th>{{ alquiler.importe }}$</th>
            <th>{{ alquiler.descuento }}$</th>
            <th>{{ alquiler.garantia }}$</th>
            <th>{{ alquiler.totalPagar }}$</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
